* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-image: url('bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
}

/* NAVBAR */
header {
  background: #eee5e5;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.logo {
  font-weight: bold;
}

nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

nav a:hover {
  color: #444;
}

/* SECTION */
.section {
  max-width: 1100px;
  margin: 3rem auto;
  padding: 0 1rem;
}

.section h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

/* ABOUT */
.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.about-text {
  flex: 1;
  text-align: justify;
  background: #d9d9d9;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-image {
  flex: 1;
  text-align: center;
}

.about-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/* EDUCATION & EXPERIENCE CARD */
.edu-card, .exp-card {
  background: #d9d9d9;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edu-year, .exp-year {
  background: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
}

/* CERTIFICATION */
.cert-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1.5rem;
}

.cert-card {
  background: #f8f8f8;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cert-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.cert-card h3 {
  font-size: 1rem;
  margin: 0.8rem 1rem 0.4rem;
}

.cert-card a {
  text-decoration: none;
  color: inherit;
}

.cert-card a:hover {
    color: #000;
}

.cert-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.1);
}

/* CONTACT */
#contact {
  padding: 2rem 1rem;
  text-align: center;
}

#contact h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.contact-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-item i {
  font-size: 2rem;
  color: #333;
  transition: color 0.3s ease;
}

.contact-item i:hover {
  color: #0077b5; /* LinkedIn blue, bisa ubah */
}

/* FOOTER */
footer {
  text-align: center;
  padding: 1rem;
  background: #f5f5f5;
  margin-top: 2rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  nav a {
    margin-left: 1rem;
    font-size: 0.9rem;
  }
}